NODE_ENV="development"
PORT=3000

# Mongo
MONGO_URI=mongodb://mongo:27017/meta-pages

# LLM
LLM_PROVIDER="openai"

OPENAI_API_KEY=

ANTHROPIC_API_KEY=

# Meta
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI="http://localhost:3000/auth/meta/callback"

# Ngrok
NGROK_AUTHTOKEN=